<!DOCTYPE html>
<html>
<head>
 <title>Отчёт</title>
     <link type="text/css" rel="stylesheet" href="/static/main.css">
 <style type="text/css">
  #container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
  }

  button {
   padding: 10px 20px;
   font-size: 18px;
   margin-bottom: 20px;
  }
 </style>
</head>
<body>
     <div id="container">
  <form action="/otch/sql/read/">
    <button type="submit">Отчет по заказам(месяца)</button>
  </form>
  <form action="/otch/sql/read_or/">
    <button type="submit">Отчет по заказам, выручка по месяцам</button>
  </form>
     </div>
</body>
</html>



